
body{
  margin: 0;
  padding: 0;
  font-family: 'Lusitana', serif;
  /* font-family: 'Montserrat', sans-serif; */
}

h2{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Merriweather', serif; */
}

p{
  color: #666;
  font-size: 1.2rem;
}

label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding: 15px 20px;
  border-radius: 50%;
  .transition;
}

.purple-bg{
  background-color: rgba(140, 89, 189, 0.3);
  transition: background-color 1s;
}

.blue-bg{
  background-color: rgba(0, 56, 193, 0.3);
  transition: background-color 1s;
}

.green-bg{
 background-color: rgba(67, 174, 2, 0.3);
 transition: background-color 1s;
}

.orange-bg{
  background-color: rgba(255, 193, 1, 0.3);
  transition: background-color 1s;
}

.section{
  margin: 200px 0;
  text-align: center;
}

.d-flex.justify-content-center{
  margin-bottom: 20px;
}

.selection-container{
  margin: 10px 10px;
}

.radio-btn{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
}

.radio-btn h3{
  position: absolute;
  left: 40%;
  transform: translate(50%,50%);
}

.card{
  width: 400px;
  text-align: left;
  padding: 20px 20px 0;
  margin: 15px 10px;
  box-shadow: 5px 5px 5px 2px #BBB;
}

input[type="radio"]{
  display: none;
}

input[type="radio"]+label.green-bg:hover, input[type="radio"]:checked + label.green-bg{
 background-color: rgba(67, 174, 2, 1);
}

input[type="radio"]+label.purple-bg:hover, input[type="radio"]:checked + label.purple-bg{
  background-color: rgba(140, 89, 189, 1);
}

input[type="radio"]+label.blue-bg:hover, input[type="radio"]:checked + label.blue-bg{
  background-color: rgba(0, 56, 193, 1);
}

input[type="radio"]+label.orange-bg:hover, input[type="radio"]:checked + label.orange-bg{
  background-color: rgba(255, 193, 1, 1);
}
